<div class="main-content">

<div class="header">

<h1>🗑 Deleted Students</h1>

<button routerLink="/students-list">

← Back

</button>

</div>


<div class="table-box">

<h2>Deleted Records</h2>

<p>

   {{students.length}} length  
  <!-- Length: {{ students.length }} 

<pre>{{ students | json }}</pre>  -->

</p>

<table>

<thead>

<tr>

<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Phone</th>
<th>Class</th>
<th>Gender</th>

</tr>

</thead>

<tbody>

<tr *ngFor="let s of students">

<td>{{s.id}}</td>
<td>{{s.name}}</td>
<td>{{s.email}}</td>
<td>{{s.phone}}</td>
<td>{{s.class}}</td>
<td>{{s.gender}}</td>

</tr>

<tr *ngIf="students.length===0">

<td colspan="6">

No deleted students found

</td>

</tr>

</tbody>

</table>

</div>

</div>